#content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  max-width: 960px;
  margin: 0 auto;
  grid-gap: 3px;
  grid-template-areas: 
  "h h h h"
  "n n n n"
  "m m m m"
  "m m m m"
  "s s s s"
  "a a a a"
  "f f f f";
}


header{grid-area: h;}
main{grid-area: m;}
section{grid-area: s;}
footer{grid-area: f;}
aside{grid-area: a;}
nav{grid-area: n;}


#content > *{
  padding: 30px;
  }

  body {
    color: #fff;
    font-family: Arial;
    text-align: center;
  }

  header{
    font-family: didot;
    text-transform: uppercase;
    text-align: right;
    font-size: 2em;
    position: sticky;
    top: 0px;
    background-color: white;
  }
  header a{
    color: rgb(60, 138, 255);
    text-decoration: none;
  }
  

  ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

  nav{
    padding: 20px;
  }
  
  nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  nav li{
    width: 100%;
    display: block;
    font-size: 20px;
    font-family: century gothic;
    margin: 12px 0;
    text-align: right;
  }
  
  nav li a{
    color: black;
    text-decoration: none;
  }
  nav li a:hover{
    font-style: italic;
    text-decoration: underline;
    color: rgb(70, 111, 199);
    font-weight: lighter;
  }


  main p{
    color: black;
    font-family: 'Times New Roman';
    letter-spacing: 1px;
    line-height: 25px;
  }

  .links{
    margin: 0 0;
    white-space: nowrap;
  }
  
  .links li{
    display: block;
    width: 50%;
    margin: 20px 5%;
    padding-top: 3em;
  }

  .links li img{
    max-width: 100%;
  }

  .links li:hover{
    position: relative;
    top: -4px;
  }

  .carbon img{
    display: inline;
    width: 80%;
    margin: 20px 5%;;
  }

  .caption {
    color: rgb(70, 111, 199);
   }


  /* footer{
    background-color: rgb(70, 111, 199);
  } */
  footer a{
    text-decoration: none;
    color: rgb(70, 111, 199);
  }
  footer a:hover{
    text-decoration: underline;
    color: rgb(70, 111, 199);
  }
  footer ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    font-family: century gothic;
  }

  /* section {
    color:black
  } */



  aside ul{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
    list-style-type: disc;
  }

  .images{
    text-align: center;
    margin: 0 0;
    white-space: nowrap;
  }
  
  .images li{
    display: inline-block;
    width: 30%;
    margin: 20px 5%;
  }
  
  .images li img{
    max-width: 100%;
  }



    /* Pseudo classes */
    ::selection{
      background-color: rgb(255, 255, 255);
      color: rgb(25, 78, 194);
    }

    .post p{
      color: black;
      text-align: left;
      font-family: 'Times New Roman';
      letter-spacing: 1px;
      line-height: 25px;
    }

    .post-title{
      color: rgb(70, 111, 199);
      text-align: left;
      font-family: 'Times New Roman';
      letter-spacing: 1px;
      line-height: 25px;
      font-weight: lighter;
    }




    /* ****************************************DESKTOP SCREENS */


        @media screen and (min-width: 550px){
    #content{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: minmax(100px, auto);
      max-width: 960px;
      margin: 0 auto;
      grid-gap: none;
      grid-template-areas: 
      "h h h h"
      "n n n n"
      "m m m m"
      "m m m m"
      "s s s s"
      "a a a a"
      "f f f f";
    }

    nav{
      padding: 20px;
      position: sticky;
      top: 49px;
    }
    nav ul{
      white-space: nowrap;
      max-width: 1200px;
      margin: 0 auto;
    }
    
    nav li{
      background-color: transparent;
      width: 25%;
      padding-bottom: 20px;
      padding-top: 20px;
      display: inline-block;
      font-size: 20px;
      font-family: century gothic;
      margin: 12px 0;
      text-align: right;
    }
    
    nav li a{
      color: black;
      text-decoration: none;
    }
    nav li a:hover{
      font-style: italic;
      text-decoration: underline;
      color: rgb(70, 111, 199);
      font-weight: lighter;
    }

    .links{
      margin: 0 0;
      white-space: nowrap;
    }
    
    .links li{
      display: block;
      width: 50%;
      margin: 20px 5%;
      padding-top: 3em;
    }
  
    .links li img{
      max-width: 100%;
    }

    .links li:hover{
      position: relative;
      top: -4px;
    }

    .post p{
      color: black;
      text-align: left;
      font-family: 'Times New Roman';
      letter-spacing: 1px;
      line-height: 25px;
    }

    .post-title{
      color: rgb(70, 111, 199);
      text-align: left;
      font-family: 'Times New Roman';
      letter-spacing: 1px;
      line-height: 25px;
      font-weight: lighter;
    }

    .carbon img{
      display: inline;
      width: 80%;
      margin: 20px 5%;;
    }


  }